.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    padding: 48px 40px;
    background-color: #fff;
    z-index: 4;
    transform: translateX(100%);
}

.menu-container .menu-toggle {
    background-color: transparent;
}

.menu-container__box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-container.is-open {
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}

.menu-btn__icon-close {
    position: absolute;
    top: 10px;
    right: 15px;
    fill: #212121;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}

.menu-btn__icon-close:hover {
    fill: #2196f3;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) linear;
}

.menu-list {
    font-weight: 500;
    font-size: 40px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #212121;
}

.menu-list:not(:last-child) {
    margin-bottom: 37px;
}

.menu-list__link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.menu-list:hover,
.menu-list:focus {
    color: #2196f3;
}

.menu-list__link.active {
    color: #2196f3;
}

.link_m-tel {
    display: block;
    margin-bottom: 37px;
    font-size: 34px;
    line-height: 1.18;
    letter-spacing: 0.02em;
    color: #2196f3;
}

.link_m-mail {
    display: block;
    margin-bottom: 64px;
    font-size: 24px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #757575;
}

.m-social {
    display: flex;
    flex-direction: row;
}

.m-social__item {
    position: relative;
}

.m-social__item:not(:last-child) {
    margin-right: 20px;
}

.m-social__link {
    display: block;
    text-decoration: none;
    color: #2196f3;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
}

.m-social__link::after {
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 0px;
    width: 1px;
    height: 22px;
    background-color: rgba(33, 33, 33, 0.2);
}

.m-social .m-social__item:last-child .m-social__link::after {
    display: none;
}

.m-soccial__link {
    color: #2196f3;
}